/* CardFlipper.css */
.card {
    width: 200px;
    height: 300px;
    position: relative;
    perspective: 1000px;
  }
  
  .front,
  .back {
    position: absolute;
    width: 300px;
    height: 200px;
    backface-visibility: hidden;
    transition: transform 2s;
  }
  
  
  .front {
    background: radial-gradient(circle, #56c0ff, #2679ff);
    border-radius: 15px;
    /* Sesuaikan dengan ukuran dan posisi yang Anda inginkan */
  }
  
  .back {
    background: radial-gradient(circle, #56c0ff, #2679ff);
    border-radius: 15px;
    /* Sesuaikan dengan ukuran dan posisi yang Anda inginkan */
    transform: rotateY(180deg);
  }
  
  .card.flip .front {
    transform: rotateY(180deg);
  }
  
  .card.flip .back {
    transform: rotateY(360deg);
  }
  

  .TopCard {
    display: flex;
    justify-content: space-between; /* Mengatur jarak horizontal antar elemen */
    padding: 10px;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    margin-right: 10px; /* Jarak antara logo dan teks */
  }
  