@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flipFront {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes flipBack {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0);
  }
}